@model IEnumerable<Demo.ViewModels.Post>

@{
    ViewBag.Title = "Index";
}



<div>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model)
        {
            <dt>
                Post Content
            </dt>

            <dd>
                @item.Post_Content
            </dd>
            <dt>
                User Id
            </dt>

            <dd>
                @item.UserId
            </dd>
        }
    </dl>
</div>
