@model Demo.ViewModels.Check

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Check</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

    </dl>
</div>
